[利用python数据分析panda学习笔记之DataFrame](http://www.cnblogs.com/lanjianhappy/p/7398683.html)

#### 2 DataFrame

In [5]:
# a:通过传入一个等长的列表构成DataFrame 自动加上索引
from pandas import Series,DataFrame
import pandas as pd
data={'state':['ohio','ohio','ohio','Nevada','Nevada'],
      'year':[2000,2001,2002,2001,2002],
      'pop':[1.5,1.7,3.6,2.1,2.9]}
frame=DataFrame(data)
print(frame)

   pop   state  year
0  1.5    ohio  2000
1  1.7    ohio  2001
2  3.6    ohio  2002
3  2.1  Nevada  2001
4  2.9  Nevada  2002

In [10]:
# b:指定顺序序列(之前是按照默认排序)
DataFrame(data,columns=['year','state','pop'])

   year   state  pop
0  2000    ohio  1.5
1  2001    ohio  1.7
2  2002    ohio  3.6
3  2001  Nevada  2.1
4  2002  Nevada  2.9

In [18]:
# c:传入数据的时候列不存在 那么就是NAN
index=['one','two','three','four','five']
columns=['year','state','pop','debt']
frame2 = DataFrame(data,index=index,columns=columns)
print(frame2)

       year   state  pop debt
one    2000    ohio  1.5  NaN
two    2001    ohio  1.7  NaN
three  2002    ohio  3.6  NaN
four   2001  Nevada  2.1  NaN
five   2002  Nevada  2.9  NaN

In [19]:
# d:从DataFrame中获取一个series
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [20]:
# e：赋值方式修改列
frame2['debt']=16.5
frame2

       year   state  pop  debt
one    2000    ohio  1.5  16.5
two    2001    ohio  1.7  16.5
three  2002    ohio  3.6  16.5
four   2001  Nevada  2.1  16.5
five   2002  Nevada  2.9  16.5

In [21]:
# f：赋值的时候如果传入一个Series，那么可以进行精确的匹配，空位为缺省值
var = Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2['debt']=var
frame2

       year   state  pop  debt
one    2000    ohio  1.5   NaN
two    2001    ohio  1.7  -1.2
three  2002    ohio  3.6   NaN
four   2001  Nevada  2.1  -1.5
five   2002  Nevada  2.9  -1.7

In [23]:
# g：为不存在列进行赋值，那么会创建一个新的列。删除用del
#为不存在的列进行赋值 那么会创建一个新列
frame2['eastern']=frame2.state=='ohio'
print(frame2)

#删除列
del frame2['eastern']
print(frame2)

       year   state  pop  debt eastern
one    2000    ohio  1.5   NaN    True
two    2001    ohio  1.7  -1.2    True
three  2002    ohio  3.6   NaN    True
four   2001  Nevada  2.1  -1.5   False
five   2002  Nevada  2.9  -1.7   False
       year   state  pop  debt
one    2000    ohio  1.5   NaN
two    2001    ohio  1.7  -1.2
three  2002    ohio  3.6   NaN
four   2001  Nevada  2.1  -1.5
five   2002  Nevada  2.9  -1.7

#### 3.传入的是字典的字典--->外层字典键作为列，内层键作为行索引,此时内层字典的键会被合并

In [25]:
#传入的是字典的字典
pop={'Nevada':{2001:2.4,2002:2.9},
     'ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3=DataFrame(pop)
print(frame3)

      Nevada  ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [43]:
# a:进行转置 --->frame3.T

# b:如果设置了Dataframe的index和columns的name属性 这些会被显示出来
#如果设置了Dataframe的index和columns的name属性 这些会被显示出来
frame3.index.name='year';
frame3.columns.name='state'
print(frame3)
print(frame3.T)

state  Nevada  ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6
year    2000  2001  2002
state
Nevada   NaN   2.4   2.9
ohio     1.5   1.7   3.6

In [42]:
# set_index 和 unstack函数
## http://blog.csdn.net/zutsoft/article/details/51509124
a=[['刘玄德','男','语文',98.],['刘玄德','男','体育',60.],['关云长','男','数学',60.],['关云长','男','语文',100.]]  
af=DataFrame(a,columns=['name','sex','course','score'])  
print(af)
## 首先使用set_index 重建索引，这个函数很厉害，实际上是做了分组（groupby）和重建索引的工作
af.set_index(['name','sex','course'],inplace='TRUE')  
print(af)  
## 然后用unstack将行转换成列
t1=af.unstack(level=2)  
print(t1)
t2=t1.mean(axis=1,skipna=True)  
print(t2)
t1['平均分']=t2 
print(t1)
t1=t1.fillna(0)  
print(t1)

  name sex course  score
0  刘玄德   男     语文   98.0
1  刘玄德   男     体育   60.0
2  关云长   男     数学   60.0
3  关云长   男     语文  100.0
                 score
name sex course
刘玄德  男   语文       98.0
         体育       60.0
关云长  男   数学       60.0
         语文      100.0
         score
course      体育    数学     语文
name sex
关云长  男     NaN  60.0  100.0
刘玄德  男    60.0   NaN   98.0
name  sex
关云长   男      80.0
刘玄德   男      79.0
dtype: float64
         score                平均分
course      体育    数学     语文
name sex
关云长  男     NaN  60.0  100.0  80.0
刘玄德  男    60.0   NaN   98.0  79.0
         score                平均分
course      体育    数学     语文
name sex
关云长  男     0.0  60.0  100.0  80.0
刘玄德  男    60.0   0.0   98.0  79.0

In [27]:
# c：values会以二维ndarray返回---->frame3.values
frame3.values

array([[ nan,  1.5],
       [ 2.4,  1.7],
       [ 2.9,  3.6]])

In [44]:
#4.获取DataFrame的列名
from numpy.random import randint
df = pd.DataFrame(columns=list('abcdefghij'))

%timeit [column for column in df]
# 100000 loops, best of 3: 3.04 µs per loop

%timeit df.columns.values.tolist()  ##最快
# 1000000 loops, best of 3: 1.27 µs per loop

%timeit list(df.columns.values)
# 1000000 loops, best of 3: 1.6 µs per loop

%timeit list(df)
# 100000 loops, best of 3: 3.82 µs per loop

%timeit list(df.columns)
# 100000 loops, best of 3: 2.24 µs per loop

%timeit df.columns.tolist()
# 1000000 loops, best of 3: 1.77 µs per loop

4.62 µs ± 7.97 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
1.03 µs ± 2.98 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
2.84 µs ± 10.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
5.16 µs ± 8.49 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
3.8 µs ± 17.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
3.01 µs ± 24.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [45]:
df.columns.values.tolist()

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [46]:
#5.在pandas中遍历DataFrame行
# https://vimsky.com/article/3699.html
inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
print(df)

   c1   c2
0  10  100
1  11  110
2  12  120

In [50]:
for index, row in df.iterrows():
   print(row['c1'], row['c2'])

10 100
11 110
12 120

In [57]:
#6. DataFrame的apply函数

data = {'year':[2000,2001,2002,2001,2002],'value':[1.5,1.7,3.6,2.4,2.9]}

frame = pd.DataFrame(data)
print(frame)
print('=============' )
def testfunc(x, str, tt):  #第一个参数代表该函数处理的每一个元素，第二个以及后面的参数args是传入的参数
    print(x, str, tt)
## apply的args参数
frame['year'].apply(testfunc, args = ('ok','tt')) #('ok',)表示一个参数;('ok','tt')表示两个参数
print('=============' )
print(frame)

   value  year
0    1.5  2000
1    1.7  2001
2    3.6  2002
3    2.4  2001
4    2.9  2002
=============
2000 ok tt
2001 ok tt
2002 ok tt
2001 ok tt
2002 ok tt
=============
   value  year
0    1.5  2000
1    1.7  2001
2    3.6  2002
3    2.4  2001
4    2.9  2002

In [61]:
##DataFrame的apply函数 一个参数
def plus(df,n):  
    df['c'] = (df['a']+df['b'])  
    df['d'] = (df['a']+df['b']) * n  
    return df  
list1 = [[1,3],[7,8],[4,5]]  
df1 = pd.DataFrame(list1,columns=['a','b']) 
print(df1)
print('-------------')
df1 = df1.apply(plus,axis=1,args=(2,))  
print(df1)

   a  b
0  1  3
1  7  8
2  4  5
   a  b   c   d
0  1  3   4   8
1  7  8  15  30
2  4  5   9  18

In [68]:
##DataFrame的apply函数 多个参数
def plus(df,n,m):  
    df['c'] = (df['a']+df['b']) * m  
    df['d'] = (df['a']+df['b']) * n  
    return df
list1 = [[1,3],[7,8],[4,5]]  
df1 = pd.DataFrame(list1,columns=['a','b'])
print(df1)
print('-------------')
df1 = df1.apply(plus,axis=1,args=(2,3,))  
print(df1)

   a  b
0  1  3
1  7  8
2  4  5
-------------
   a  b   c   d
0  1  3  12   8
1  7  8  45  30
2  4  5  27  18

In [78]:
##DataFrame的apply函数 
##转换百分比为float
import re
def percent_to_float(df,pattern):  
    for index in range(0,len(df)):
        matched = df[index] and isinstance(df[index], str) and re.match(pattern, str(df[index]))
        if not matched:
            continue
        df[index] = float(matched.group(1))/100.0
    return df
list1 = [[1,'22%'],[7,'23%'],[4,'24%'],[5,'NaN'],[6,'总计']]  
df1 = pd.DataFrame(list1,columns=['a','b'])
print(df1)
print('-------------')
df1 = df1.apply(percent_to_float, args=(r'^(\d+)%$',))  
print(df1)

   a    b
0  1  22%
1  7  23%
2  4  24%
3  5  NaN
4  6   总计
-------------
   a     b
0  1  0.22
1  7  0.23
2  4  0.24
3  5   NaN
4  6    总计

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':